.container {
    border: 2px dotted red;
    font-size: 1rem;
    /* width: 50%; */
    margin: 1em 1em 1em 1em;
}

.circle {
    background-color: brown;
    width: 12rem;
    height: 12rem;
    border: 2px solid black;
    outline: 2px dotted red;
    outline-offset: .2rem;
    margin: 2rem auto;
    padding: 3.1rem;
    border-radius: 6rem;
}