* {
    background-color: rgb(106, 104, 104);
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

header {
    background-color: rgb(216, 61, 61);
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    position: sticky;
    top: 0;
}

footer {

    background-color: rgb(73, 73, 232);
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100vw;
    padding: 4rem
}


footer a {
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 1rem 1rem;

}