* {
    font-family: monospace;
}

body {
    font-size: 20px;
    background-color: papayawhip;
    color: darkblue;
}

.gray {
    color: gray;
}

h3,
h2 {
    color: red;
}

p span {
    text-transform: uppercase;
    /* color: yellow; */
    background-color: yellow;
}

.box {
    border: 2px dotted red;
    width: 50%;
}

.rem-size {
    border: 2px dotted red;
    margin: 1rem;
    font-size: 2rem;
}