.product-shop-container {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    column-gap: 1rem;
    row-gap: 2rem;
}

.shop-container {
    margin: 2rem;

}