nav {
    padding: 2rem;
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .navItems {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
            font-weight: 800;
            padding: 10px 15px;
            cursor: pointer;
        }

    }
}